<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chat Room</title>
  <meta name="description" content="Online char room."/>
  <link rel="stylesheet" href="/style.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</head>
<body>
<div class="container">
  <div id="dialog" class="dialog">
  </div>
  <div class="tool-bar">
    <input id="fileInput" type="file" style="display: none" onchange="uploadFile()">
    <button onclick="document.getElementById('fileInput').click()">File</button>
    <button onclick="clearMessage()">Clear</button>
    <button onclick="changeUsername()">Change username</button>
  </div>
  <div class="panel">
    <input id="input" class="message-box" autofocus>
    <button onclick="send()" class="send-button">Send</button>
  </div>
</div>

</body>
</html>